# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

##########
# Configs
##########

local.json
local.js
local.php
local.cs
secret.*
secrets.*

##########
# Environment
##########

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
supervisord.pid

##########
# Compiled
##########

# C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# C#
*.cache
*.dll
*.dll.config

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Others
*.exe
*.com
*.class
*.pdb
*.suo

##########
# Directories
##########

.vs/
bin/
obj/
.next/
build/
publish/
TestResults/
node_modules/
Generated_Code/

##########
# Compressed
##########

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

##########
# Specific
##########

## Logs
*.log*

## Database
*.sqlite
*.mdf
*.ldf

## VS Profiler
*.psess
*.vsp
*.vspx

## SASS
.sass-cache/

## Tests
tests/screenshots/*
tests/videos/*
test-results.xml

## WordPress
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/plugins/elfsight-instashow/api/storage
wp-content/plugins/woocommerce-pdf-invoice/lib/dompdf/lib/fonts/log.htm

## WP Engine
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mu-plugins/force-strong-passwords
wp-content/mu-plugins/stop-long-comments.php
wp-content/mysql.sql
wp-content/plugins/hyperdb*